<!DOCTYPE html>
<html>
<head>
  <title>Erp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user.present? %>
    <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Iniciar Sesión', new_user_session_path %>
    <%= link_to 'Registrarse', new_user_registration_path %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <%= yield %>
  <p class="alert"><%= alert %></p>

</body>
</html>
